<div class="container mt-2">
    <h2>Inicio</h2>

    <a asp-action="SessionSalarios">Salarios Session</a>
    <a asp-action="SumaSalarial">Suma de Salarios Session</a>
    <hr />
    <a asp-action="SessionEmpleados">Empleados Session</a>
    <a asp-action="ListaEmpleados">Lista de Empleados Session</a>
    <hr />
    <a asp-action="SessionEmpleadosById">IDs Empleados Session</a>
    <a asp-action="ListaEmpleadosById">Lista de Empleados por ID Session</a>
    <hr />
    <a asp-action="SessionEmpleadosV4">IDs Empleados Session V4</a>
    <a asp-action="ListaEmpleadosV4">Lista de Empleados V4</a>
</div>